#map {
    height: 1000px;
}

.leaflet-tooltip.ranking {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    color: black;
    font-size: 1.5rem;
}

#map {
    height: 1000px;
}

.leaflet-tooltip.ranking {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    color: black;
    font-size: 1.5rem;
}

