body {
    background-color: #003366;
}

h1 {
    font-size: 4em;
}

.artist {
    color: #30FF00;
}

.leaflet-tooltip.ranking {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    color: black;
    font-size: 1.5rem;
}

.bar {
    fill: red;
}

.bar:hover {
    fill: green;
}

#map {
    height: 60vh;
}

