<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2 : Obesity</title>

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- D3 javascript -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class ="Short Summary">
            The association between obesity and income or educational level is complex and differs by sex and race/ethnicity.
            Overall, men and women with college degrees had lower obesity prevalence compared with those with less education.
            By race/ethnicity, the same obesity and education pattern was seen among non-Hispanic white, non-Hispanic black, and Hispanic women, and also among non-Hispanic white men, although the differences were not all statistically significant. Although the difference was not statistically significant among non-Hispanic black men, obesity prevalence increased with educational attainment. Among non-Hispanic Asian women and men and Hispanic men there were no differences in obesity prevalence by education level.
            Among men, obesity prevalence was lower in the lowest and highest income groups compared with the middle income group. This pattern was seen among non-Hispanic white and Hispanic men. Obesity prevalence was higher in the highest income group than in the lowest income group among non-Hispanic black men.
            Among women, obesity prevalence was lower in the highest income group than in the middle and lowest income groups. This pattern was observed among non-Hispanic white, non-Hispanic Asian, and Hispanic women. Among non-Hispanic black women, there was no difference in obesity prevalence by income.

    </div>

  
    

    <div id="scatteragric"></div>
    <!-- API Key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- Our JS -->
    <!-- <script type="text/javascript" src="../static/js/overall_wellbeing.js"></script> -->
    <script type="text/javascript" src="../static/js/agric.js"></script>
    <!-- <script type="text/javascript" src="../static/js/bar.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/agg.js"></script> -->
</body>
</html>