<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2 : Obesity</title>

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <!--Plotly  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- D3 javascript -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="Short Summary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, ipsam magni. Consequuntur nulla quis, sit
        sint iure maiores perspiciatis. Ipsam accusamus quod nobis mollitia quasi nulla, dolorum beatae optio officia.
    </div>

    <div class="container-fluid">
           
        </div>
    <!-- API Key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- Our JS -->
    <!-- <script type="text/javascript" src="../static/js/overall_wellbeing.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/chartFunc.js"></script> -->
   <script type="text/javascript" src="../static/js/chartfun.js"></script> 
    <!-- <script type="text/javascript" src="../static/js/plots.js"></script> --> -->
    <script type="text/javascript" src="../static/js/national.js"></script>
    <!-- <script type="text/javascript" src="../static/js/bar.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/agg.js"></script> -->
</body>

</html>