<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>State Info</title>

    <!-- Bootstrap JS & CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- D3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Sankey JS -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <button class="navbar-toggler nboverride" type="button" data-toggle="collapse" data-target="#navbarToggleroia">
            <span class="navbar-toggler-icon bg-light "></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggleroia">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/map">Rankings Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agg">Aggregation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doc">Documentation</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="text-center" id="inputin">{{state_in}}</h1>
    <div class="container-fluid"></div>
    <!-- Ben's & Joy JS -->
    <script type="text/javascript" src="../static/js/chartFunc.js"> </script>
    <script type="text/javascript" src="../static/js/indiv.js"></script>
    
</body>

</html>