<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sankey test</title>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row p-4 bg-light">
            <!--Normally these medium columns go 8/4 wide on small screen sizes-->
            <div class="col-sm col-mdcol-lg m-2 p-4">
                <h2 class="text-info">Summary: Lattitude vs. <i class="wi wi-thermometer pr-2"></i><i
                        class="wi wi-humidity pr-2"></i><i class="wi wi-cloudy pr-2"></i><i
                        class="wi wi-windy pr-2"></i></h2>
            </div>
            <div class='col-sm col-mdcol-lg' id='SankeyContainer'>

            </div>
        </div>
    </div>

    <script src='../static/js/sankeyalternate.js'></script>
</body>

</html>