<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sankey test</title>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>
</head>
<body>
    <div class='' id='SankeyContainer'>
    </div>
    <!-- d3     -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src='/static/js/sankey.js'></script>
</body>
</html>